<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dragonfly monitors datasets as they&#039;re updated, evaluating quality with a confidence rating and alerting users (or halting pipelines) if it falls below threshold." />
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Integrations | Dragonfly: Data Observability &amp; Quality Monitoring" />
    <meta itemprop="description" content="Dragonfly monitors datasets as they&#039;re updated, evaluating quality with a confidence rating and alerting users (or halting pipelines) if it falls below threshold." />
    <meta itemprop="image" content="https://dragonflydatahq.com/assets/img/logo-name-full.png" />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://dragonflydatahq.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Integrations | Dragonfly: Data Observability &amp; Quality Monitoring" />
    <meta property="og:description" content="Dragonfly monitors datasets as they&#039;re updated, evaluating quality with a confidence rating and alerting users (or halting pipelines) if it falls below threshold." />
    <meta property="og:image" content="https://dragonflydatahq.com/assets/img/logo-name-full.png" />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Integrations | Dragonfly: Data Observability &amp; Quality Monitoring" />
    <meta name="twitter:description" content="Dragonfly monitors datasets as they&#039;re updated, evaluating quality with a confidence rating and alerting users (or halting pipelines) if it falls below threshold." />
    <meta name="twitter:image" content="https://dragonflydatahq.com/assets/img/logo-name-full.png" />

    <!-- ========== Page Title ========== -->
    <title>Integrations | Dragonfly: Data Observability &amp; Quality Monitoring</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/bootsnav.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5/html5shiv.min.js"></script>
    <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5LG8T78W');</script>
    <!-- End Google Tag Manager -->
</head>

<body class="dark-layout">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LG8T78W"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Preloader Start -->
<div class="se-pre-con"></div>
<!-- Preloader Ends -->

<!-- Header
============================================= -->
<header id="home">

    <!-- Start Navigation -->
    <nav class="navbar bg-gray navbar-default navbar-fixed-light attr-border navbar-fixed dark no-background bootsnav">

        <div class="container">

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/logo-light.png" class="logo" alt="Logo">
                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="features.html">Features</a>
                    </li>
                    <li>
                        <a href="integrations.html">Integrations</a>
                    </li>
                    <li>
                        <a href="index.html#concepts">Key Concepts</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>

    </nav>
    <!-- End Navigation -->

</header>
<!-- End Header -->